@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
a {
    text-decoration: none;
}

/* css for navbar  */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* font-family: ; */
    font-family: "Montserrat", sans-serif;
}

#header {
    min-height: 100vh;

}

body {
    scroll-behavior: smooth;
    /* font-family: sans-serif; */
    overflow-x: hidden;

}

.goog-logo-link,
.goog-logo {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

nav {
    background: #ffffff;
    height: 80px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
}

label img {
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
}

label img {
    width: 10rem;
    height: 10rem;
    border-radius: 7rem;
}

label.logo {
    font-size: 3rem;
    line-height: 80px;
    padding-left: 5rem;
    font-weight: bold;
}

label.logo a {
    color: rgb(8, 8, 8);
position: relative;
bottom: 3.5rem;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

#google_translate_element select {
    background-color: #838080;
    padding: .5rem;
    color: white;
    display: inline-block;
    float: left;
}

.goog-logo-link {
    display: none !important;
}

.goo-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame {
    display: none !important;
}

nav ul li a {
    color: rgb(12, 109, 255);
    font-size: 18px;
    padding: 7px 13px;
    /* font-family: sans-serif; */
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:focus {
    color: rgb(233, 64, 120);
}

#contact a {
    background-color: rgb(0, 81, 255);
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    transition: .3s;
}

#contact a:hover {
    border: 2px solid rgb(0, 81, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 81, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

.checkbtn {
    color: black;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    color: black;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 5rem;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 958px) {
    #header {
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #000000;
    }

    .myfirstcontainer {
        background-image: url('img/evgeni-tcherkasski-Gyp9-tIZxiw-unsplash.jpg');
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        color: black;
    }

}

@media(max-width:360px) {
    label .logo {
        font-size: 1rem;
    }
}
/* main-section start  */
#first-page{
    min-height: 60vh;
    background-color: #ededed;

}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
}
.head{
    margin-top: 5rem;
}
.head h1{
    font-size: 3rem;
    font-weight: 600;
}
.search-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;

}
.search-box input{
  
    padding: 1.5rem 24rem;
    border-radius: 3rem;
    border: none;
}
  #hospital {
      min-height: 60vh;
      margin-top: 4rem;
  }

  #hospital h2 {
      margin-top: 2rem;

      font-size: 3rem;
      text-align: center;
  }
.items-hospital {
    display: flex;
    justify-content: space-around;
    /* margin-top: 5rem; */
}

.items img {
    width: 25rem;
    height: 20rem;
}

.items {

    border-radius: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
        box-shadow: 5px 5px 10px 5px hsl(0, 0%, 90%);
}

.items p {
    margin: .5rem;
    text-align: center;
    font-size: 1.5rem;
}
@media(max-width:1200px){
    html{
        font-size: 60%;
    }
}
@media(max-width:958px){
    .main-container{
        flex-direction: column;
    }
    .head h1{
        text-align: center;
    }
    .items-hospital{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .items{

        width: 80%;
    }
}
@media(max-width:756px){
    html{
        font-size: 55%;
    }
    .search-box input{
        padding: 1.5rem 7rem;
    }
    .items{
        background-color: #f5f5f5;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .items img{
        width: 25rem;
    }
}
@media(max-width:575px){
html{
    font-size: 45%;
}

}

/* main-section start end */

/* footer  */
#footer {
    background-color: #e1f5ff;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
}
.footer-items{
    padding: 2rem;
}
.para{
    margin-top: 1.5rem;
}
.footer-items h4{
    font-size: 2rem;
    font-weight: 600;
}
.para p{
    font-size: 1.3rem;
    padding: .4rem;
}
@media(max-width:758px){
    .main-footer{
        flex-direction: column;
        text-align: center;
    }
}
/* footer end */