* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* css for navbar  */

html {
    font-size: 62.5%;
}

#header {
    min-height: 100vh;
    background-image: url('../img/photo-1587351021759-3e566b6af7cc.jpg');
    background-position: center;
    background-size: cover;

}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.6)
}

body {
    font-family: montserrat;
    /* height: 100rem; */
}

nav {
    /* box-shadow: 5px 5px 5px black; */
    background: #ffffff;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
}

label.logo {
    color: rgb(8, 8, 8);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(12, 109, 255);
    font-size: 18px;
    padding: 7px 13px;
    font-family: sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:focus {
    color: rgb(233, 64, 120);
}

#contact a {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    transition: .3s;
}

#contact a:hover {
    border: 2px solid rgb(0, 81, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 81, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

.checkbtn {
    color: black;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    color: black;
}


.logo-icon {}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 5rem;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 858px) {
    #header {
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #000000;
    }

    .myfirstcontainer {
        background-image: url('img/evgeni-tcherkasski-Gyp9-tIZxiw-unsplash.jpg');
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        color: black;
    }

}